/*
ResourceManager was developed by Gammapeit SAS

@name                ResourceManager
@version             1.2
@author              Jose Buelvas Santos
@copyright           Gammapeit SAS (c) 2016
@companyURL          https://www.gammapeit.com
*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Arial", sans-serif;
}

.mv-panel {
    margin-bottom: 10px;
}

input[type=text]:disabled {
    color: #333333;
    border: 1px solid #cccccc;
    background: #fefefe;
}

.ui-picklist .ui-picklist-filter {
    margin-bottom: .5em;
    width: 100%;
    box-sizing: border-box;
}

.center-form {
    width: 800px;
    margin: 1em auto;
    position: relative;
}

.separator{
    height: 1px;
    background: #ccc;
    margin: .5em 0;
}

div[id="gestionar:datos_content"] table {
    width: 100%;
}

div[id="gestionar:datos_content"] table td:first-child {
    width: 25%;
}

input[id="gestionar:nombre"] {
    width: 100%;
    box-sizing: border-box;
}

.mv-panel table.ui-picklist {
    width: 100%;
}

.mv-panel table.ui-picklist td:first-child {
    width: 50%;
}

.mv-panel table.ui-picklist td:last-child {
    width: 50%;
}

.mv-panel table.ui-picklist .ui-picklist-list {
    width: 100%;
    box-sizing: border-box;
}

.add-prof-form,
.add-option-form {
    margin: .5em 0 1.5em 0; 
    display: flex;
    flex-direction: row;
}

.add-input-oim {
    width: 80%;
    box-sizing: border-box;
    margin-right: .5em;
}

.add-oim-button {
    width: 20%;
}

.option-list .ui-datatable-scrollable-body,
.prof-list .ui-datatable-scrollable-body {
    background: #fafafa;
    max-height: 300px;
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.panel-res {
    display: flex;
    align-items: center;
}

.title-res {
    text-align: left;
    flex-grow: 1;
    text-transform: uppercase;
}

.search-res {
    text-align: right;
    flex-grow: 1;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.ui-autocomplete-panel {
    max-height: 300px;
}

.ui-autocomplete {
    width: 100%;
}

.ui-autocomplete > .ui-autocomplete-input {
    width: 100%;
    box-sizing: border-box;
}

.ui-autocomplete > .ui-autocomplete-dropdown {
    right: 0;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}