<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta charset="utf-8" />
                <title>Gestión de plataforma</title>
            </f:facet>
            <f:facet name="last">
                <link rel="stylesheet" href="#{request.contextPath}/resources/css/style.css" />
            </f:facet>
        </h:head>
        <h:body>
            <p:ajaxStatus styleClass="loading-oim">
                <f:facet name="default"></f:facet>
                <f:facet name="start">
                    <div class="loading-page">
                        <div class="loader"></div>
                    </div>
                </f:facet>
                <f:facet name="complete"></f:facet>
            </p:ajaxStatus>

            <div class="center-form">
                <h3>
                    <p:button icon="ui-icon-arrowreturnthick-1-w" value="Volver" outcome="recursos"></p:button>
                    Formulario de Gestión de Plataformas de GERENCIA DE REDES
                </h3>

                <h2>Plataforma #{gestionView.resourceName}</h2>

                <!-- Panels -->
                <h:form id="gestionar">
                    <p:growl id="msgs" showDetail="false" autoUpdate="true" />

                    <p:remoteCommand name="delprof" update=":gestionar:profile_list" actionListener="#{gestionView.deleteProfile}" />
                    <p:remoteCommand name="delopt" update=":gestionar:option_list" actionListener="#{gestionView.deleteOption}" />
                    <p:remoteCommand name="delUbiSup" update=":gestionar:ubicacionSuplente_list" actionListener="#{gestionView.deleteUbicacionSuplente}" />

                    <!-- Datos -->
                    <p:panel id="datos" header="Datos del recurso" styleClass="mv-panel">
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputLabel for="nombre" value="Nombre Plataforma:" />
                            <p:inputText id="nombre" value="#{gestionView.resourceName}" rendered="true" label="Nombre Plataforma" />
                        </h:panelGrid>
                    </p:panel>

                    <!-- Ubicaciones -->
                    <p:panel id="ubicaciones" header="Ubicaciones" styleClass="mv-panel">
                        <p:pickList id="loc_selecttion" value="#{gestionView.ubicaciones}" var="loc" itemValue="#{loc}" itemLabel="#{loc}" showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains">
                            <p:ajax event="transfer" update="admin_x_ubicacion"/>
                            <f:facet name="sourceCaption">Disponibles</f:facet>
                            <f:facet name="targetCaption">Seleccionadas</f:facet>
                        </p:pickList>
                    </p:panel>

                    <!-- Administradores -->
                    <p:panel id="administradores" header="Administrador" styleClass="mv-panel">
                        <p:outputLabel value="Administradores disponibles:" for="admin_selection"/>
                        <p:autoComplete id="admin_selection" dropdown="true" value="#{gestionView.selectedAdmin}" completeMethod="#{gestionView.searchAdmin}" var="admin" itemLabel="#{admin.name}" itemValue="#{admin}" converter="adminConverter">
                            <p:ajax event="itemSelect" listener="#{gestionView.addSelectedAdmin}" update="gestionar" />
                        </p:autoComplete>
                    </p:panel>

                    <!-- Suplentes -->
                    <p:panel id="suplentes" header="Suplentes" styleClass="mv-panel">
                        <p:pickList id="suple_selection" 
                                    value="#{gestionView.substitutes}" 
                                    var="suplente" 
                                    itemValue="#{suplente}" 
                                    itemLabel="#{suplente.name}"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" converter="administradorConverter">
                            <p:ajax event="transfer" update="admin_x_ubicacion" />
                            <f:facet name="sourceCaption">Suplentes disponibles</f:facet>
                            <f:facet name="targetCaption">Suplentes Seleccionados</f:facet>
                        </p:pickList>
                    </p:panel>

                    <!-- Perfiles -->
                    <p:panel id="lookup_perfiles" header="Perfiles" styleClass="mv-panel">
                        <div class="add-prof-form">
                            <p:inputText id="perfil" value="#{gestionView.perfilNuevo}" styleClass="add-input-oim" rendered="true" placeholder="Nombre del perfil" label="Nombre del perfil" />
                            <p:commandButton id="adding_profile" ajax="true" actionListener="#{gestionView.addProfileToList}" styleClass="add-oim-button" update=":gestionar:profile_list,:gestionar:perfil" value="Agregar Perfil" icon="ui-icon-plus" iconPos="right" />
                        </div>
                        <div class="prof-list">
                            <p:dataTable id="profile_list" scrollable="true" scrollHeight="300" value="#{gestionView.perfiles}" selectionMode="single" selection="#{gestionView.perfilSeleccionado}" var="perfil" rowKey="#{perfil}">
                                <p:column headerText="Perfiles actuales" footerText="Perfiles">
                                    <h:outputText value="#{perfil}" />
                                </p:column>
                                <p:column headerText="Acción" style="width: 80px; text-align: center">
                                    <p:commandLink ajax="true" oncomplete="delprof()" update="profile_list">
                                        <f:setPropertyActionListener value="#{perfil}" target="#{gestionView.perfilSeleccionado}" />
                                        <h:outputText value="Eliminar" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:panel>

                    <!-- Opciones -->
                    <p:panel id="lookup_opciones" header="Opciones" styleClass="mv-panel">
                        <div class="add-option-form">
                            <p:inputText id="option_val" value="#{gestionView.opcionNueva}" rendered="true" styleClass="add-input-oim" placeholder="Nombre de la opción" />
                            <p:commandButton id="adding_option" ajax="true" actionListener="#{gestionView.addOptionToList}" styleClass="add-oim-button" update=":gestionar:option_list,:gestionar:option_val" value="Agregar Opción" icon="ui-icon-plus" iconPos="right" />
                        </div>
                        <div class="option-list">
                            <p:dataTable id="option_list" scrollable="true" scrollHeight="300" value="#{gestionView.opciones}" selectionMode="single" selection="#{gestionView.opcionSeleccionada}" var="opcion" rowKey="#{opcion}">
                                <p:column headerText="Opciones actuales" footerText="Opciones">
                                    <h:outputText value="#{opcion}" />
                                </p:column>
                                <p:column headerText="Acción" style="width: 80px; text-align: center">
                                    <p:commandLink ajax="true" oncomplete="delopt()" update="option_list">
                                        <f:setPropertyActionListener value="#{opcion}" target="#{gestionView.opcionSeleccionada}" />
                                        <h:outputText value="Eliminar" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:panel>

                    <!-- Administrador por ubicación -->
                    <p:panel id="admin_x_ubicacion" header="Administrador x Ubicación" styleClass="mv-panel">
                        <h:panelGrid columns="4" cellpadding="0" >
                            <h:outputText value="Ubicacion" />
                            <h:outputText value="Administrador" />
                            <h:outputText value="Suplente" />
                            <h:outputText value="" />

                            <p:selectOneMenu id="ubicacionList" value="#{gestionView.ubicacionAdmin}">
                                <f:selectItem itemLabel="-Seleccione-" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{gestionView.ubicaciones.target}" var="t" itemLabel="#{t}" itemValue="#{t}" />
                            </p:selectOneMenu>

                            <p:inputText id="adm_nombre" value="#{gestionView.selectedAdmin.name}" readonly="true" rendered="true" label="Administrador" />

                            <p:selectOneMenu id="suplentesList" value="#{gestionView.suplenteSel}">
                                <f:selectItem itemLabel="-Seleccione-" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{gestionView.substitutes.target}" var="t" itemLabel="#{t.name}" itemValue="#{t.code}" />
                            </p:selectOneMenu>

                            <p:commandButton id="adding_ubicacionsup" ajax="true" update=":gestionar:ubicacionSuplente_list" actionListener="#{gestionView.addUbicacionSuplenteToList}" value="Agregar" icon="ui-icon-plus" iconPos="right" />
                        </h:panelGrid>
                        <h:panelGrid columns="4" cellpadding="0">
                            <div class="option-list">
                                <p:dataTable id="ubicacionSuplente_list" scrollable="true" scrollHeight="300" value="#{gestionView.ubicacionesSuplentes}" selectionMode="single" selection="#{gestionView.ubicacionSuplenteSeleccionado}" var="ubisup" rowKey="#{ubisup}">
                                    <p:column headerText="Ubicacion" footerText="Ubicación">
                                        <h:outputText value="#{ubisup.ubicacion}" />
                                    </p:column>
                                    <p:column headerText="Administrador" footerText="Administrador">
                                        <h:outputText value="#{ubisup.admin}" />
                                    </p:column>
                                    <p:column headerText="Suplente" footerText="Suplente">
                                        <h:outputText value="#{ubisup.suplente}" />
                                    </p:column>
                                    <p:column headerText="Acción" style="width: 80px; text-align: center">
                                        <p:commandLink ajax="true" oncomplete="delUbiSup()" update="ubicacionSuplente_list">
                                            <f:setPropertyActionListener value="#{ubisup}" target="#{gestionView.ubicacionSuplenteSeleccionado}" />
                                            <h:outputText value="Eliminar" />
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </h:panelGrid>
                    </p:panel>

                    <div class="mv-send-data">
                        <p:commandButton ajax="true" validateClient="true" value="Enviar Datos" action="#{gestionView.save}" icon="ui-icon-circle-arrow-e" iconPos="right" update="gestionar"></p:commandButton>
                        <p:button outcome="recursos" value="Cancelar" icon="ui-icon-circle-close" iconPos="right" />
                    </div>


                </h:form>

                <h:form id="other_options">

                </h:form>

                <!-- Panels -->

            </div>
        </h:body>
    </f:view>
</html>
