<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta charset="utf-8" />
			<title>ResourceManagment</title>
		</f:facet>
		<f:facet name="last">
			<link rel="stylesheet" href="#{request.contextPath}/resources/css/style.css" />
		</f:facet>
	</h:head>
	<h:body>
		<div class="center-form">
			<h:form id="login">
				<p:growl id="msgs" showDetail="true" />

				<!-- Lista de recursos -->
				<p:panel id="loginPanel" header="Inicio de sesión" styleClass="mv-panel">
					<h:panelGrid columns="2" cellpadding="5">
						<h:outputLabel for="usuario" value="Usuario:" />
						<p:inputText id="usuario" value="#{sesionView.usuario}" rendered="true" label="Usuario" />

						<h:outputLabel for="password" value="Password:" />
						<h:inputSecret id="password" value="#{sesionView.password}" rendered="true" label="Password" />

						<f:facet name="footer">
							<p:commandButton value="Login" update="msgs" action="#{sesionView.login}" />
						</f:facet>
					</h:panelGrid>
				</p:panel>
			</h:form>
		</div>
	</h:body>
</f:view>
</html>