<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta charset="utf-8"/>
                <title>Recursos existentes</title>
            </f:facet>
            <f:facet name="last">
                <link rel="stylesheet" href="#{request.contextPath}/resources/css/style.css"/>
            </f:facet>
        </h:head>
        <h:body>
            <div class="center-form">
                <h:form id="resource_manager">
                    <p:growl id="msgs" showDetail="true"/>

                    <!-- Lista de recursos -->
                    <p:commandButton value="Logout" action="#{sesionView.logout}" />
                    <p:dataTable id="resources" value="#{resourcesView.resources}" selectionMode="single" selection="#{resourcesView.selectedResource}" var="res" emptyMessage="No hay recursos encontrados" widgetVar="resourcesTable" filteredValue="#{resourcesView.resourcesFiltered}" sortBy="#{res.name}" rowKey="#{res.code}" stickyHeader="true">
                        <f:facet name="header">
                            <p:outputPanel>
                                <div class="panel-res">
                                    <div class="title-res">
                                        Recursos existentes
                                    </div>
                                    <div class="search-res">
                                        <p:inputText id="globalFilter" onkeyup="PF('resourcesTable').filter()" placeholder="Buscar recurso..."/>
                                    </div>
                                </div>
                            </p:outputPanel>
                        </f:facet>
                        <p:column headerText="Recurso" filterBy="#{res.name}" sortBy="#{res.name}" filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:inputText style="display: none"/>
                            </f:facet>
                            <strong><h:outputText value="#{res.name}"/></strong> (<h:outputText value="#{res.code}"/>)
                        </p:column>
                        <p:column headerText="Acción" style="width: 90px; text-align: center">
                            <p:link outcome="gestionar" value="Gestionar">
                                <f:param name="r" value="#{res.code}"/>
                            </p:link>
                        </p:column>
                    </p:dataTable>
                    <!-- /Lista de recursos -->
                </h:form>
            </div>
        </h:body>
    </f:view>
</html>